@use '/src/sass/base/variables.scss'as*;

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
    -webkit-user-drag: none;
}

html {
    font-family: 'Inter Variable' !important;
    scroll-behavior: smooth;
}

body {
    background-color: #171F12;
    max-width: 1920px;

    &::selection {
        color: rgba(59, 177, 13, 0.555);
    }

    margin: 0 auto;
}

a {
    -webkit-user-drag: none;
}

.container {
    max-width: 1920px;
    padding: 0 30px;
}

.btn-light {
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 12px;
    opacity: 0.75;
    color: $white-255;
}

.pt-10 {
    padding-top: 10%;
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 0 100px;
    }

    .btn-light {
        font-family: 'Inter Variable';
        font-weight: 400;
        font-size: 24px;

        &:hover {
            background-color: rgba(213, 216, 211, 0.267);
        }
    }
}