@use '/src/sass/base/variables.scss'as *;

@mixin title {
    font-family: 'Inter Variable' !important;
    font-weight: 600;
    font-size: normal;
    color: $white;
}

@mixin button {
    font-family: 'Inter Variable' !important;
    border: 2px solid $white;
    border-radius: 12px;
    opacity: 0.75;
    font-weight: 400;
    font-size: 18px;
    color: $white;
}

@mixin text {
    font-family: 'Inter Variable' !important;
    font-weight: 400;
    font-size: 13px;
    color: $white-255;
}