// **LIBS
@use '/src/sass/libs/normolize.min.css';
@use '/src/sass/libs/inter.css';

// **BASE
@use '/src/sass/base/basic.scss';
@use '/src/sass/base/mixins.scss';
@use '/src/sass/base/variables.scss';

//**UI
@use '/src/sass/ui/buttons.scss';
@use '/src/sass/ui/titles.scss';

//**BASICK
@use '/src/sass/blocks/header.scss';