.best {
    padding-top: 200px;

    .carousel-indicators {
        margin-bottom: -40px;
    }

    .slide {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 92px;
        padding: 40px;
    }
}