@use '/src/sass/base/variables.scss'as *;

.breath-natureal {
    padding-top: 40px;
    background: url('/src/img/bg/nagy-arnold-X_IvVDuHvDQ-unsplash\ 1.png')no-repeat center center;

    &__subtitle {
        font-family: 'Inter Variable' !important;
        font-weight: 500;
        font-size: 13px;
        color: $white;
        opacity: 0.75;
    }

    &__buttons {
        padding-top: 20px;

        &-play {
            border-radius: 100%;
            stroke-width: 2px;
            stroke: $white;
            background: transparent;
            width: 64px;
            height: 64px;
            border: 0.125rem solid $white;
        }
    }

    &__demo {
        font-family: 'Inter Variable' !important;
        font-weight: 400;
        font-size: 20px;
        color: $white;
    }

    .carousel {
        border-radius: 77px;
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(25px);
        box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.25);
        margin-top: 40px;

        .button-primary {
            padding: 5px;
            width: 50%;
            height: 100%;
        }

        img {
            padding-bottom: 20px;
        }
    }

    &__review {
        margin-top: 50px;
        border-radius: 42px;
        max-width: 409px;
        backdrop-filter: blur(16.100000381469727px);
        background: rgba(255, 255, 255, 0.05);
        padding: 53px 34px;

        .review__user {
            &-name {
                font-size: 12px;
            }
        }
    }

    .review {
        &__user {
            &-photo {
                width: 64px;
            }
        }
    }

    .review__user-comment {
        margin-top: 33px;
        opacity: 0.75;
        font-size: 10px;
        font-family: 'Inter Variable' !important;
        font-weight: 400;
        color: $white-255;
    }

}

@media screen and (min-width: 768px) {
    .breath-natureal {
        &__review {
            margin-top: 10%;
        }

        .review__user {
            &-name {
                font-size: 16px;
            }
        }

        .review__user-comment {
            opacity: 0.75;
            font-size: 14px;
            font-weight: 400;
            color: $white-255;
        }
    }

}

@media screen and (min-width: 1440px) {
    .breath-natureal {
        padding-top: 170px;

        &__review {
            margin-top: 20%;
        }

        .review__user {
            &-name {
                font-size: 22px !important;
            }

        }

        .review__user-comment {
            font-size: 17px;
        }

        &__subtitle {
            font-size: 25px;
        }
    }

}