.plants {
    padding-top: 50px;
    position: relative;

    &__cards {
        margin-top: 40px;
    }

    &__card {
        border-radius: 51px;
        backdrop-filter: blur(22.299999237060547px);
        background: rgba(255, 255, 255, 0.05);
        padding: 20px;
    }

    span {
        text-align: center;
    }

    .button-primary {
        width: 100%;
        padding: 10px;
        height: 100%;
    }
}

@media screen and (min-width:990px) {
    .plants {
        &__card {
            &-column {
                .card-img {
                    margin-top: -140px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .plants {
        padding-top: 100px;
    }
}