@use '/src/sass/base/mixins.scss'as *;

.title-h1 {
    @include title;
    font-size: 35px;
    text-transform: uppercase;
    opacity: 0.75;
}

.title-h2 {
    @include title;
    font-size: 25px;
    text-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.09),
        0 5px 4px 0 rgba(0, 0, 0, 0.13),
        0 8px 6px 0 rgba(0, 0, 0, 0.15),
        0 13px 10px 0 rgba(0, 0, 0, 0.18),
        0 19px 15px 0 rgba(0, 0, 0, 0.21),
        0 30px 24px 0 rgba(0, 0, 0, 0.23),
        0 50px 40px 0 rgba(0, 0, 0, 0.27),
        0 100px 80px 0 rgba(0, 0, 0, 0.36);
}

.title-h3 {
    @include title;
    font-size: 18px;
    text-shadow: 0 -0px 2px 0 rgba(0, 0, 0, 0.06),
        0 -0px 4px 0 rgba(0, 0, 0, 0.09),
        0 -1px 6px 0 rgba(0, 0, 0, 0.11),
        0 -1px 10px 0 rgba(0, 0, 0, 0.13),
        0 -2px 15px 0 rgba(0, 0, 0, 0.15),
        0 -3px 24px 0 rgba(0, 0, 0, 0.17),
        0 -5px 40px 0 rgba(0, 0, 0, 0.2),
        0 -9px 80px 0 rgba(0, 0, 0, 0.26);
}

.title-h5 {
    @include title;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.75);
}

.subtitle {
    @include text;
}

@media screen and (min-width: 768px) {
    .title-h1 {
        font-size: 55px;
    }

    .title-h2 {
        font-size: 35px;
    }

    .title-h3 {
        font-size: 24px;
    }

    .title-h5 {
        font-size: 28px;
    }

    .subtitle {
        font-size: 23px;
    }
}

@media screen and (min-width: 1440px) {
    .title-h1 {
        font-size: 80px;
    }

    .title-h2 {
        font-size: 55px;
    }

    .title-h3 {
        font-size: 38px;
    }

    .title-h5 {
        font-size: 38px;
    }
}

@media screen and (min-width: 1920px) {
    .title-h1 {
        font-size: 108px;
    }

    .title-h2 {
        position: relative;

        &::before {
            content: '';
            background: url('/src/icon/Vector\ 6.svg')no-repeat;
            width: 200px;
            height: 200px;
            position: absolute;
            left: -23%;
        }

        &::after {
            content: '';
            background: url('/src/icon/Vector\ 5.svg')no-repeat;
            width: 200px;
            height: 200px;
            position: absolute;
            top: -82%;
            left: 80%;
        }
    }
}